/* RecommendationPage.css */
.recommendation-container {
    padding: 20px;
    background: linear-gradient(to bottom, white, rgb(35, 34, 34));
    /* background-color: white; */
    min-height: 100vh;
    color: black;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.recommendation-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: black; /* Gold accent */
}

.recommendation-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: black;
}

.get-recommendations-btn {
    padding: 12px 30px;
    background: black; /* Gold Button */
    color: white;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.get-recommendations-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.loading-animation {
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 50px auto;
}

.recommendation-list {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

.recommendation-list li {
    background: black;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    color: white;
}
